<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630537282182-c0055eupg1ji0s5og2t8artra3jge6v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630537282182-c0055eupg1ji0s5og2t8artra3jge6v3</string>
	<key>API_KEY</key>
	<string>AIzaSyDBzSCcqZcKuLdqLgUByVo4cDeF6PULs9k</string>
	<key>GCM_SENDER_ID</key>
	<string>630537282182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diaryapp</string>
	<key>PROJECT_ID</key>
	<string>diaryapp-fb8a1</string>
	<key>STORAGE_BUCKET</key>
	<string>diaryapp-fb8a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630537282182:ios:520f800ff3412e143c2707</string>
</dict>
</plist>